@import '../variables';
@import '../mixins';
.expander {
    display: flex;
    align-items: center;
    &-trigger.btn {
        display: flex;
        align-items: center;
        transition: transform 1s ease-in-out;
        &:focus {
            border-bottom: none;
            >.icon,
            .expander-label {
                @include focus;
            }
        }
    }
    &-label {
        color: $secondary-main;
        text-decoration: underline;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        transition: width 750ms ease-in-out;
        line-height: 0;
    }
    &.expanded {
        width: 100%;
        .expander-label {
            width: 0;
        }
    }
}