@import '../variables';
@import '../mixins';
.expander {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    &-trigger.btn {
        display: flex;
        align-items: center;
        transition: transform 1s ease-in-out;
        z-index: 1;
        >.icon-wrapper {
            height: 22px;
            display: flex;
            align-items: center;
        }
        &:focus {
            border-bottom: none;
            >.icon-wrapper,
            .expander-label {
                @include focus;
            }
        }
    }
    &-label {
        color: $secondary-main;
        text-decoration: underline;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        transition: width 750ms ease-in-out, padding-right 750ms ease-in-out;
        padding-right: 6px;
    }
    &-panel {
        &:before {
            content: '';
            position: absolute;
            @include animated-gradient;
            width: 100%;
            height: 2px;
            opacity: 0;
            transition: opacity 1s linear,
        }
        margin-top: 16px;
        background-color: $background-main-dark;
        width: 100%;
        height: 0px;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 1s linear,
        height 1s linear;
    }
    &.expanded {
        .expander-label {
            width: 0;
            padding-right: 0px;
        }
        .expander-panel {
            &:before {
                opacity: 0.8;
            }
            opacity: 0.8;
        }
    }
}