@import '../../../styles/variables.scss';
$icon-spacing: 0.8rem;
.btn.anim-button {
    display: flex;
    align-items: center;
    text-decoration: underline;
    .hover-text {
        overflow: auto;
        width: 0;
        transition: width linear 500ms;
    }
    &:hover .hover-text {
        width: 100%;
        color: $primary-main;
    }
    &.right {
        flex-direction: row-reverse;
        align-items: center;
        >div:first-child {
            margin-left: $icon-spacing;
        }
    }
    &.left {
        align-items: center;
        >div:first-child {
            margin-right: $icon-spacing;
        }
    }
    &.above {
        flex-direction: column;
        align-items: center;
    }
    &.below {
        flex-direction: column-reverse;
        align-items: center;
    }
}