@import "../variables";
$image-aspect-ratio: 1.46;
.home {
    position: relative;
    overflow: hidden;
    >div {
        position: relative;
        z-index: 1;
        h1 {
            font-weight: 900;
            background-color: #111111;
            background-image: url("../../assets/grid.svg");
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: $secondary-main;
            background-repeat: repeat;
            opacity: 0%;
            animation: animatedBackground 10s linear infinite, 1.5s ease-in 0s 1 normal both fadeIn;
        }
        h2 {
            opacity: 0%;
            animation: 1.5s ease-in 1s 1 normal both fadeIn;
        }
    }
    .background-image {
        height: 100%;
        min-width: calc(100vh * 1.46);
        position: fixed;
        top: 0;
        right: 0;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 100px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}