@import '../variables';
$image-aspect-ratio: 1.46;
.home {
    position: relative;
    overflow: hidden;
    >div {
        position: relative;
        z-index: 1;
    }
    .background-image {
        height: 100%;
        min-width: calc(100vh * 1.46);
        position: fixed;
        top: 0;
        right: 0;
        -webkit-mask-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}