@import 'variables';
@import 'mixins';
footer {
    position: relative;
    z-index: 1;
    margin-top: auto;
    background-color: $background-dark;
    @include small-font;
    >div:nth-child(2) {
        @include tiny-font;
    }
    &:before {
        content: '';
        height: 2px;
        opacity: 0.2;
        width: 100%;
        position: absolute;
        top: 0;
        @include animated-gradient;
    }
}