@import 'variables';
@import 'mixins';
@import 'animations';
$image-aspect-ratio: 1.46;
body {
    background-color: $background-dark;
    color: $primary-main;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: $background-main;
    position: relative;
    overflow: hidden;
}

main {
    position: relative;
    z-index: 1;
}

.background-image {
    height: 100%;
    min-width: calc(100vh * 1.46);
    position: fixed;
    top: 0;
    right: 0;
    -webkit-mask-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    >* {
        width: 100%;
        height: 100%;
    }
}

header+* {
    flex-grow: 1;
    padding: 25px;
    height: 100%;
    min-height: 100vh;
    transition: height 1s linear;
}

h1 {
    font-size: clamp(1rem, 29vw, 10.25rem);
    word-break: keep-all;
    overflow-wrap: normal;
    font-weight: 900;
    background-color: #111111;
    background-image: url('../assets/grid.svg');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $secondary-main;
    background-repeat: repeat;
    animation: animatedBackground 10s linear infinite;
}

*:focus {
    @include focus;
}

.small-text {
    font-size: 0.75rem;
}

.tiny-text {
    font-size: 0.5rem;
}

.light-text {
    opacity: 0.5;
    transition: opacity linear 0.25s;
    &:hover {
        opacity: 1;
    }
}

.icon {
    width: 30px;
    height: 30px;
    &-small {
        width: 25px;
        height: 25px;
    }
}

.btn {
    color: $primary-main;
    &:hover,
    &:focus {
        color: $secondary-main;
        &:after {
            height: 0;
        }
        .underline {
            border: 1px solid $secondary-main;
            width: 100%;
        }
    }
}

a {
    color: $secondary-light;
    transition: color 0.25s linear;
    &:hover,
    &:focus {
        color: $accent-1-light;
    }
}