@import 'variables';
@import 'mixins';
@import 'animations';
body {
    background-color: $background-dark;
    color: $primary-main;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: $background-main;
}

header+* {
    flex-grow: 1;
    padding: 25px;
    height: 100%;
    min-height: 100vh;
    transition: height 1s linear;
}

h1 {
    font-size: clamp(1rem, 29vw, 10.25rem);
    word-break: keep-all;
    overflow-wrap: normal;
    font-weight: 900;
    background-color: #111111;
    background-image: url('../assets/grid.svg');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $secondary-main;
    background-repeat: repeat;
    animation: animatedBackground 10s linear infinite;
}

*:focus {
    @include focus;
}

.small-text {
    font-size: 0.75rem;
}

.tiny-text {
    font-size: 0.5rem;
}

.light-text {
    opacity: 0.5;
    transition: opacity linear 0.25s;
    &:hover {
        opacity: 1;
    }
}

.icon {
    width: 30px;
    height: 30px;
    &-small {
        width: 25px;
        height: 25px;
    }
}

a {
    color: $secondary-light;
    transition: color 0.25s linear;
    &:hover,
    &:focus {
        color: $accent-1-light;
    }
}