@import 'variables';
.wrapper {
    height: 100vh;
    background-color: $background-main;
    color: $primary-main;
    display: flex;
    flex-direction: column;
}

header+* {
    flex-grow: 1;
    padding: 25px;
}

*:focus {
    box-shadow: none !important;
    border-bottom: 3px double white;
}

.NA-text {
    opacity: 0.5;
    transition: opacity linear 0.25s;
    &:hover {
        opacity: 1;
    }
}