@import "mixins";
@import "variables";
.linkedIn {
    display: flex;
    width: fit-content;
    >div {
        content: "";
        width: 154px;
        height: 24px;
        display: block;
        background-color: white;
        transition: background-color 1s linear;
        mask: url("../assets/linkedin.svg");
        &::after {
            @include animated-gradient;
            content: "";
            width: 154px;
            height: 24px;
            display: block;
            opacity: 0;
            transition: opacity 0.5s linear;
        }
    }
    &:hover,
    &:focus {
        >div {
            background-color: transparent;
            &::after {
                opacity: 1;
            }
        }
    }
}