$background-main: #1f1f1f;
$background-dark: #1b1b1b;
$primary-main: #FFFFFF;
$secondary-light: #47FDFF;
$secondary-main: #00BCBD;
$secondary-dark: #005e5e;
$secondary-extra-dark: #005e5e;
$accent-1-light: #d97aff;
$accent-1: #b500ff;
$accent-1-dark: #3c2445;