@import "../../../styles/variables";
@import "../../../styles/mixins";
.expander {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    transition: height 1s linear;
    &-trigger.btn {
        display: flex;
        align-items: center;
        transition: transform 1s 100ms ease-in-out, margin-top 50ms linear;
        z-index: 1;
        >.icon-wrapper {
            height: 2.2rem;
            display: flex;
            align-items: center;
        }
        &:focus {
            border-bottom: none;
            .expander-label {
                @include focus;
            }
        }
    }
    &-label {
        color: $secondary-main;
        text-decoration: underline;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        transition: width 750ms 250ms ease-in-out, padding-right 750ms 250ms ease-in-out;
        padding-right: 0.6rem;
    }
    &.expanded {
        .expander-label {
            width: 0;
            padding-right: 0rem;
        }
        .expander-trigger.btn:focus {
            .icon-wrapper {
                @include focus;
            }
        }
    }
}