@import "../../../styles/variables";
@import "../../../styles/mixins";
.expander {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    transition: height 1s linear;
    &-trigger.btn {
        display: flex;
        align-items: center;
        transition: transform 1s 100ms ease-in-out, margin-top 50ms linear;
        z-index: 1;
        >.icon-wrapper {
            height: 22px;
            display: flex;
            align-items: center;
        }
        &:focus {
            border-bottom: none;
            .expander-label {
                @include focus;
            }
        }
    }
    &-label {
        color: $secondary-main;
        text-decoration: underline;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        transition: width 750ms 250ms ease-in-out, padding-right 750ms 250ms ease-in-out;
        padding-right: 6px;
    }
    &-panel {
        &:before {
            content: "";
            position: absolute;
            @include animated-gradient;
            width: 100%;
            height: 2px;
            opacity: 0;
            transition: opacity 1s linear;
        }
        margin-top: 16px;
        background-color: $background-dark;
        width: 100%;
        height: 0px;
        position: absolute;
        top: 0;
        transition: height 1s linear;
        &-content {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 200;
            padding: 0px 8px;
            transition: height 1s linear, padding 250ms 750ms linear;
            >div {
                > :first-child {
                    padding-right: 32px;
                }
            }
        }
    }
    &.expanded {
        .expander-label {
            width: 0;
            padding-right: 0px;
        }
        .expander-panel {
            &:before {
                opacity: 0.8;
            }
            opacity: 0.8;
            &-content {
                padding: 8px 8px 8px 8px;
            }
        }
        .expander-trigger.btn:focus {
            .icon-wrapper {
                @include focus;
            }
        }
    }
}