@import "../../../styles/variables";
@import "../../../styles/mixins";
footer {
    position: relative;
    z-index: 1;
    margin-top: auto;
    background-color: $background-dark;
    &:before {
        content: '';
        height: 0.02rem;
        opacity: 0.2;
        width: 100%;
        position: absolute;
        top: 0;
        @include animated-gradient;
    }
}