@import "../../../styles/variables";
@import "../../../styles/mixins";
header {
    z-index: 1;
    background-color: $background-main;
    position: relative;
    height: 5rem;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0rem 0.1rem 1.5rem $background-dark;
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.2rem 4.8rem 1.2rem 0;
        line-height: normal;
        padding: 0.3rem 0.4rem;
        &:after {
            content: '';
            height: 0.1rem
        }
        .underline {
            border: 0 solid $primary-main;
            width: 0;
            transition: width 0.25s ease-in-out, border-color 0.5s linear;
        }
    }
    &:after {
        content: '';
        height: 0.3rem;
        opacity: 0.4;
        width: 50%;
        position: absolute;
        bottom: 0;
        border-top-left-radius: 100%;
        @include animated-gradient;
    }
}