@import '../styles/animations.scss';
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound-background {
    background-image: url('../assets/circuit.svg');
    background-repeat: repeat;
}