@import "../../../styles/variables";
@import "../../../styles/mixins";
.linkedIn {
    display: flex;
    width: fit-content;
    >div {
        content: "";
        width: 15.4rem;
        height: 2.4rem;
        display: block;
        background-color: white;
        transition: background-color 1s linear;
        mask: url("../../../assets/linkedin.svg");
        &::after {
            @include animated-gradient;
            content: "";
            width: 15.4rem;
            height: 2.4rem;
            display: block;
            opacity: 0;
            transition: opacity 0.5s linear;
        }
    }
    &:hover,
    &:focus {
        >div {
            background-color: transparent;
            &::after {
                opacity: 1;
            }
        }
    }
}